In [ ]:
1 + 1

In [ ]:
1 + 1 # <-- 더하기 ㅋ ㅋ

In [ ]:
# 더하기를 실행하는 코드임
1 + 1

In [ ]:
for n in range(3) :
    print(n)

In [ ]:
print('다음은 죠타로..')

In [ ]:
print("왼손은.. 거들뿐..!")

In [ ]:
123412531235

In [ ]:
'죠타로'

In [ ]:
"디오"

In [ ]:
'''abc'''

In [ ]:
"""abc"""

In [ ]:
"it''s mine"

In [ ]:
"it's mine"

In [ ]:
'''it's mine'''

In [ ]:
'it's mine

In [ ]:
'it\'s mine'

In [ ]:
"That's okay"

In [ ]:
print('asdf' + 'asdf' + )

In [ ]:
print('asdf' + 'asdfasdf')

In [ ]:
print('this is ydg')

In [ ]:
text = "see"

In [ ]:
print(text[0])

In [ ]:
for i in range(len(text)) :
    print(text[i])

In [ ]:
text[-1]

In [ ]:
text[0]

In [ ]:
text[2:]

In [ ]:
text[:]

In [ ]:
text[:3]

In [ ]:
text[:6]

In [ ]:
text[:-1]

In [ ]:
2**2 # 제곱

In [ ]:
13 ** 2

In [ ]:
100 == 100

In [ ]:
300 == 100

In [ ]:
dic = {"jotaro" : 'Star Platina' , "Dio" : "The World"}

In [ ]:
dic["jotaro"]

In [ ]:
print(dic)

In [ ]:
score = 80
if score >= 70 :
    print("okay")
else : 
    print("sex")

In [ ]:
score = ["A", "B", "C" , "D", "E", "F"]


def test(t_score) :
    if t_score in score[:1] : 
        print("pass")
    elif t_score == score[2] :
        print("retake") 
    else :
        print("fail")

In [ ]:
test(my_score)

In [ ]:
my_score = "A"

In [ ]:
test(my_score)

In [ ]:
my_score = "A"
test(my_score)

In [ ]:
print(score)

In [ ]:
test('A')

In [ ]:
for i in score :
    test(i)

In [ ]:
score = ["A", "B", "C" , "D", "E", "F"]
def test(t_score) :
    if t_score in score[:1] : 
        print("pass")
    elif t_score == score[2] :
        print("retake") 
    else :
        print("fail")

for i in score :
    print(i)
    test(i)

In [ ]:
bb = [2,3,4,5,6]
even = [num for num in bb if num%2 == 0]
even

In [ ]:
udf_01(123)

In [3]:
def udf_01(x) :
    print(x)

In [ ]:
udf_01(' 니미씨 발')

In [ ]:
udf_01('ssap')

In [4]:
udf_01('asdf')

asdf

In [5]:
import numpy as np

In [6]:
np.array([1,2,3])

array([1, 2, 3])

In [7]:
np.array([1,2,3,4,5,6])

array([1, 2, 3, 4, 5, 6])

In [11]:
import pandas as pd

In [12]:
pd.Series()

<ipython-input-12-fa15c544da3b>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series()

Series([], dtype: float64)