In [1]:
import pandas as pd

In [ ]:
# Series

In [2]:
ser = pd.Series([1,2,3])

In [3]:
ser

0    1
1    2
2    3
dtype: int64

In [4]:
ser.values

array([1, 2, 3], dtype=int64)

In [5]:
ser.index

RangeIndex(start=0, stop=3, step=1)

In [6]:
ser.sum()

6

In [7]:
ser.min()

1

In [8]:
ser.max()

3

In [9]:
ser.mean()

2.0

In [10]:
ser.std()

1.0

In [11]:
ser.skew() # 왜도

0.0

In [12]:
ser.kurt() # 첨도

nan

In [13]:
ser.unique()

array([1, 2, 3], dtype=int64)

In [14]:
ser2= pd.Series([2,4,4,6,7,8])

In [15]:
ser2.unique()

array([2, 4, 6, 7, 8], dtype=int64)

In [16]:
ser2.idxmax()

5

In [17]:
ser2.idxmin()

0

In [18]:
ser2.skew()

-0.1475629418263852

In [19]:
ser2.kurt()

-1.1283275528129364

In [20]:
ser.isin([6,7])

0    False
1    False
2    False
dtype: bool

In [21]:
ser2.isin([1,3])

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

In [22]:
ser2.isin([6,7]).sum()

2

In [23]:
# Dataframe

In [26]:
df = pd.DataFrame({"aa" : [1,2,3], "bb" : [4,5,6]})

In [28]:
df.aa

0    1
1    2
2    3
Name: aa, dtype: int64

In [29]:
df

   aa  bb
0   1   4
1   2   5
2   3   6

In [30]:
df["aa"][0]

1

In [31]:
df.iloc[1,1] # 정수기반 인덱싱 , index location(반드시 정수가 들어가야함)

5

In [32]:
df.loc[:, "aa"] # row, column 으로 인덱싱 (0,1,2) , (aa,bb)

0    1
1    2
2    3
Name: aa, dtype: int64

In [33]:
df.loc[0, :]

aa    1
bb    4
Name: 0, dtype: int64

In [35]:
pd.crosstab(df["aa"],df["bb"])

bb  4  5  6
aa
1   1  0  0
2   0  1  0
3   0  0  1

In [36]:
df.groupby("aa")["bb"].sum()

aa
1    4
2    5
3    6
Name: bb, dtype: int64