In [3]:
# 이상치 (특이값, 특이치, 이상값)
# 중심 경향성에서 멀리 떨어진값
# 이상치 처리에 절대적인 기준은 없음 (데이터 관련자와 협의해야함, 상위 1%를 없애라 이딴거 없음)
# 대표적으로 Carling ,Tukey 가 있음
# 분포기반 처리도 가능 (상위1퍼, 하위 1퍼)

In [4]:
# 결측치 : 값이 기록되지 않고 비어있음
# 결측치 처리에 절대적인 기준은 없음 (데이터와 관련자와 협의)
# 단순제거, 특정값 대체 등의 방법이 있음
# 분석데이터에서 결측치가 차지하는 비중이 낮은 경우 단순제거하는 경우가 많음
# 가운데값 넣는거 : 선형보관

In [ ]:
# pandas - isna() , isnull() 
# 결측치 원소를 True, 관측치를 False 로 반환하는 메서드
# 반대의 기능을 하는 메서드 notna() 와 notnull()

In [5]:
# pandas - fillna()
# 결측치를 채워넣기 위한 메서드
# value 인자에 결측치를 채워넣을 값을 입력하여 딕셔너리 사용가능
# bfill : 뒤의값을 (backward fill) , ffill : 앞의 값을 참고하여 결측처리 (forward fill)

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv("iris_missing.csv")
df.head(7)

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          NaN           NaN          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2     NaN
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2     NaN
5           5.4          3.9           1.7          0.4  setosa
6           NaN          NaN           NaN          NaN  setosa

In [8]:
df_na = df.head(7)
df_na

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          NaN           NaN          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2     NaN
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2     NaN
5           5.4          3.9           1.7          0.4  setosa
6           NaN          NaN           NaN          NaN  setosa

In [9]:
df_na["Sepal_Length"].isna()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
Name: Sepal_Length, dtype: bool

In [10]:
df_na["Sepal_Length"].notna()

0     True
1     True
2     True
3     True
4     True
5     True
6    False
Name: Sepal_Length, dtype: bool

In [12]:
df_na["Sepal_Length"].isna().sum()

1

In [13]:
df_na.isna()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width  Species
0         False         True          True        False    False
1         False        False         False        False    False
2         False        False         False        False     True
3         False        False         False        False    False
4         False        False         False        False     True
5         False        False         False        False    False
6          True         True          True         True    False

In [16]:
df_na.isna().sum(axis = 0) # 각 프로퍼티 별 결측치 개수

Sepal_Length    1
Sepal_Width     2
Petal_Length    2
Petal_Width     1
Species         2
dtype: int64

In [15]:
df_na.isna().sum(axis =1) # 각 row 별 결측치 개수

0    2
1    0
2    1
3    0
4    1
5    0
6    4
dtype: int64

In [19]:
df_na.fillna(value={"Sepal_Length" : 999})

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          NaN           NaN          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2     NaN
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2     NaN
5           5.4          3.9           1.7          0.4  setosa
6         999.0          NaN           NaN          NaN  setosa

In [21]:
df_na.fillna(value={"Sepal_Length" : 999, "Sepal_Width" : 999}) # dic 활용하여.. 채워넣음

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1        999.0           NaN          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2     NaN
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2     NaN
5           5.4          3.9           1.7          0.4  setosa
6         999.0        999.0           NaN          NaN  setosa

In [22]:
df_na.fillna(value=999)

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1        999.0         999.0          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2     999
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2     999
5           5.4          3.9           1.7          0.4  setosa
6         999.0        999.0         999.0        999.0  setosa

In [23]:
df_na["Sepal_Width"].mean()

3.3600000000000003

In [24]:
df_na.fillna(value = {"Sepal_Width" : df_na["Sepal_Width"].mean()})

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1         3.36           NaN          0.2  setosa
1           4.9         3.00           1.4          0.2  setosa
2           4.7         3.20           1.3          0.2     NaN
3           4.6         3.10           1.5          0.2  setosa
4           5.0         3.60           1.4          0.2     NaN
5           5.4         3.90           1.7          0.4  setosa
6           NaN         3.36           NaN          NaN  setosa

In [25]:
df_na

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          NaN           NaN          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2     NaN
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2     NaN
5           5.4          3.9           1.7          0.4  setosa
6           NaN          NaN           NaN          NaN  setosa

In [26]:
df_na = df_na.fillna(value = {"Sepal_Width" : df_na["Sepal_Width"].mean()})

In [27]:
df_na

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1         3.36           NaN          0.2  setosa
1           4.9         3.00           1.4          0.2  setosa
2           4.7         3.20           1.3          0.2     NaN
3           4.6         3.10           1.5          0.2  setosa
4           5.0         3.60           1.4          0.2     NaN
5           5.4         3.90           1.7          0.4  setosa
6           NaN         3.36           NaN          NaN  setosa

In [28]:
# pandas - dropna()
# 결측치가 있는 row, column 을 제거하기 위한 메서드
# how 에 any : 결측치가 하나라도 있는경우 , all : 전체가 결측인 경우 제거

In [29]:
# pandas - quantile()
# 분위수를 연산하는 메서드로 이상치 필터링에 활용
# q 인자에 1개 이상의 확률값을 입력하여 그에맞는 분위수 산출

In [31]:
df_na

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1         3.36           NaN          0.2  setosa
1           4.9         3.00           1.4          0.2  setosa
2           4.7         3.20           1.3          0.2     NaN
3           4.6         3.10           1.5          0.2  setosa
4           5.0         3.60           1.4          0.2     NaN
5           5.4         3.90           1.7          0.4  setosa
6           NaN         3.36           NaN          NaN  setosa

In [34]:
df_na2 = df.head(7)
df_na2

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          NaN           NaN          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2     NaN
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2     NaN
5           5.4          3.9           1.7          0.4  setosa
6           NaN          NaN           NaN          NaN  setosa

In [35]:
df_na2.dropna() # 결측치가 하나라도 있으면 제거 (how = 'any')

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
1           4.9          3.0           1.4          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa

In [36]:
df_na2.dropna(how='all')

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          NaN           NaN          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2     NaN
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2     NaN
5           5.4          3.9           1.7          0.4  setosa
6           NaN          NaN           NaN          NaN  setosa

In [37]:
df_na2.iloc[:, :-1] # 마지막 칼럼 제거하는 기법 외우셈

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
0           5.1          NaN           NaN          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2
5           5.4          3.9           1.7          0.4
6           NaN          NaN           NaN          NaN

In [38]:
 df_na2.iloc[:, :-1].dropna(how="all")

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
0           5.1          NaN           NaN          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2
5           5.4          3.9           1.7          0.4

In [39]:
df["Sepal_Length"].max()

7.9

In [40]:
print(df["Sepal_Length"].max())
print(df["Sepal_Length"].min())
print(df["Sepal_Length"].mean())

7.9
4.3
5.8538461538461535

In [41]:
df["Sepal_Length"].median()

5.8

In [42]:
df["Sepal_Length"].quantile(0.5)

5.8

In [43]:
df["Sepal_Length"].quantile(q = 0.25)

5.1

In [44]:
print(df["Sepal_Length"].quantile(q = 0.25)) # 사분위수 구하기
print(df["Sepal_Length"].quantile(q = 0.5))
print(df["Sepal_Length"].quantile(q = 0.75))

5.1
5.8
6.4

In [46]:
df.iloc[:,:-1].isna().sum()

Sepal_Length     7
Sepal_Width     13
Petal_Length    14
Petal_Width      6
dtype: int64

In [47]:
df.iloc[:,:-1].isna().sum().sum()

40

In [48]:
df_swidth = df["Sepal_Width"]
df_swidth

0      NaN
1      3.0
2      3.2
3      3.1
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: Sepal_Width, Length: 150, dtype: float64

In [52]:
df_swidth = df_swidth.fillna(value=df_swidth.mean())
df_swidth

0      3.070073
1      3.000000
2      3.200000
3      3.100000
4      3.600000
         ...
145    3.000000
146    2.500000
147    3.000000
148    3.400000
149    3.000000
Name: Sepal_Width, Length: 150, dtype: float64

In [53]:
df_swidth.var()

0.17561945818840935

In [54]:
df_swidth.std()

0.4190697533685882

In [ ]:
# 이상치제거

In [56]:
df = pd.read_csv("iris.csv")
df.head(2)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [57]:
sl_mean = df["Sepal.Length"].mean()
sl_std = df["Sepal.Length"].std()
print(sl_mean)
print(sl_std)

5.843333333333334
0.828066127977863

In [62]:
cond_1 = df["Sepal.Length"] < (sl_mean -1.5 * sl_std)
cond_2 = df["Sepal.Length"] > (sl_mean +1.5 * sl_std)
df_out = df.loc[(cond_1) | (cond_2), ] # row, column 명으로 접근하기
df_out
len(df_out)

21

In [63]:
df_out

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
3             4.6          3.1           1.5          0.2     setosa
6             4.6          3.4           1.4          0.3     setosa
8             4.4          2.9           1.4          0.2     setosa
13            4.3          3.0           1.1          0.1     setosa
22            4.6          3.6           1.0          0.2     setosa
38            4.4          3.0           1.3          0.2     setosa
41            4.5          2.3           1.3          0.3     setosa
42            4.4          3.2           1.3          0.2     setosa
47            4.6          3.2           1.4          0.2     setosa
102           7.1          3.0           5.9          2.1  virginica
105           7.6          3.0           6.6          2.1  virginica
107           7.3          2.9           6.3          1.8  virginica
109           7.2          3.6           6.1          2.5  virginica
117           7.7          3.8           6.7          2.2  virginica
118           7.7          2.6           6.9          2.3  virginica
122           7.7          2.8           6.7          2.0  virginica
125           7.2          3.2           6.0          1.8  virginica
129           7.2          3.0           5.8          1.6  virginica
130           7.4          2.8           6.1          1.9  virginica
131           7.9          3.8           6.4          2.0  virginica
135           7.7          3.0           6.1          2.3  virginica