In [1]:
# 비계층적 군집분석
# K-means 군집분석
# 임의의 k개의 점을 기반으로 가까운 거리의 데이터를 묶는것과 더불어 평균을 활용
# 군집갯수 (k) 를 확정하기 위해 여러번의 시행착오가 필요함.
# 결과의 고정을 위해 seed 설정 필요

In [2]:
# sklearn - MinMaxScaler()
# MinMax 정규화를 실시하는 함수
# fit() 메서드로 규칙모델을 만들고 transform() 함수로 변환을 실시

# sklearn - StandardScaler()
# 표준화를 실시하는 sklearn 함수
# fit() 메서드로 규칙모델을 만들고 transform() 함수로 변환을 실시

In [5]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [7]:
df = pd.read_csv("iris.csv")
df.head(2)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [11]:
df_1 = df.head()
df_2 = df.tail(1)

In [9]:
df_1

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [12]:
df_2

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
149           5.9          3.0           5.1          1.8  virginica

In [19]:
nor_minmax = MinMaxScaler().fit(df_1.iloc[:,:-1]) #  학습 
nor_minmax

MinMaxScaler()

In [20]:
nor_minmax.transform(df_1.iloc[:,:-1]) # 결과

array([[1.        , 0.83333333, 0.5       , 0.        ],
       [0.6       , 0.        , 0.5       , 0.        ],
       [0.2       , 0.33333333, 0.        , 0.        ],
       [0.        , 0.16666667, 1.        , 0.        ],
       [0.8       , 1.        , 0.5       , 0.        ]])

In [21]:
nor_minmax.transform(df_2.iloc[:,:-1])

array([[ 2.6,  0. , 19. ,  1.6]])

In [22]:
nor_minmax = MinMaxScaler().fit(df_2.iloc[:,:-1])
nor_minmax.transform(df_2.iloc[:,:-1])

array([[0., 0., 0., 0.]])

In [25]:
"""
표준화 = StandardScaler

정규화 = MinMaxScaler

 

이번에는 표준화를 볼 것이고 다음에는 정규화를 볼 것이다.

 

StandardScaler 개념
 

간단하다. 모든 애들을 평균이 0이고 분산이 1인 정규 분포로 만드는 것이다.

 

수학식부터 살펴보면 굉장히 간단하다. 

 

(Xi - (X의 평균)) / (X의 표준편차)

 

아이패드가 없어서 이렇게...글로 적어본다. 젠장

예시로 설명을 하자면, 만약 평균이 50이인데 임의 숫자는 49라 하자, 그러면 어떻게 되는 것일까?

정답은 (49-50) / 1 = -1이다. 여기서 표준편차란 평균으로부터 얼마나 떨어져있는지를 구한 것이다. 

표준화 = StandardScaler

정규화 = MinMaxScaler

 

정규화란, 모든 값을 0~1 사이의 값으로 바꾸는 것이다. 음수도 예외 없이 다 바꾼다. 표준화와는 차이가 있다.

 

수학식을 보자면, ( X- (X의 최솟값) ) / ( X의 최댓값 - X의 최솟값 )이다. 

예시로 들어보자면,

최댓값 10, 최솟값 2 일 때, 4는 어떻게 정규화될까? (4 - 2) / (10 - 2 ) = 0.25로 정규화될 수 있다.
"""

'\n표준화 = StandardScaler\n\n정규화 = MinMaxScaler\n\n \n\n정규화란, 모든 값을 0~1 사이의 값으로 바꾸는 것이다. 음수도 예외 없이 다 바꾼다. 표준화와는 차이가 있다.\n\n \n\n수학식을 보자면, ( X- (X의 최솟값) ) / ( X의 최댓값 - X의 최솟값 )이다. \n\n예시로 들어보자면,\n\n최댓값 10, 최솟값 2 일 때, 4는 어떻게 정규화될까? (4 - 2) / (10 - 2 ) = 0.25로 정규화될 수 있다.\n'

In [27]:
df_minmax = pd.DataFrame(nor_minmax.transform(df_1.iloc[:,:-1]), columns= df_1.columns[:4])
df_minmax

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
0          -0.8          0.5          -3.7         -1.6
1          -1.0          0.0          -3.7         -1.6
2          -1.2          0.2          -3.8         -1.6
3          -1.3          0.1          -3.6         -1.6
4          -0.9          0.6          -3.7         -1.6

In [29]:
# sklearn - KMeans ()
# k means 군집분석을 실시하는 sklearn 의 함수
# n_clusters, max_iter, random_state 로 설정가능 (군집갯수, 최대반복연산, 결과고정설정)
# 결과 객체의 cluster_centers_ 와 labels_ 어트리뷰트로 군집중심과 각행의 군집번호 확인가능

In [30]:
model = KMeans(n_clusters=3, random_state=123).fit(df.iloc[:,:-1])

In [31]:
model.labels_

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 0, 0, 0, 0, 2, 0, 0, 0,
       0, 0, 0, 2, 2, 0, 0, 0, 0, 2, 0, 2, 0, 2, 0, 0, 2, 2, 0, 0, 0, 0,
       0, 2, 0, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, 2])

In [32]:
model.cluster_centers_

array([[6.85      , 3.07368421, 5.74210526, 2.07105263],
       [5.006     , 3.428     , 1.462     , 0.246     ],
       [5.9016129 , 2.7483871 , 4.39354839, 1.43387097]])

In [34]:
df["cluster"] = model.labels_
df.groupby("cluster").mean()

         Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
cluster
0            6.850000     3.073684      5.742105     2.071053
1            5.006000     3.428000      1.462000     0.246000
2            5.901613     2.748387      4.393548     1.433871

In [35]:
# 문제 1

In [36]:
df = pd.read_csv("diabetes.csv")
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [37]:
df_sub = df.loc[df["BMI"] != 0 , ]
df_sub.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [38]:
model = KMeans(n_clusters= 4, random_state=123).fit(df_sub)
df_sub["cluster"] = model.labels_
df_sub.head(3)

<ipython-input-38-d489c1ecc0b0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub["cluster"] = model.labels_

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,cluster
0,6,148,72,35,0,33.6,0.627,50,1,0
1,1,85,66,29,0,26.6,0.351,31,0,0
2,8,183,64,0,0,23.3,0.672,32,1,0

In [43]:
df_sub["cluster"].value_counts()

0    407
2    212
3    114
1     24
Name: cluster, dtype: int64

In [47]:
df_sub.groupby("cluster")["Insulin"].mean().reset_index()

   cluster     Insulin
0        0    4.103194
1        1  509.166667
2        2  102.674528
3        3  224.035088

In [48]:
# 문제 2

In [49]:
nor_minmax = MinMaxScaler().fit(df_sub)
df_sub_nor = nor_minmax.transform(df_sub)
df_sub_nor = pd.DataFrame(df_sub_nor, columns = df_sub.columns)
df_sub_nor.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,cluster
0,0.352941,0.743719,0.590164,0.353535,0.0,0.314928,0.234415,0.483333,1.0,0.0
1,0.058824,0.427136,0.540984,0.292929,0.0,0.171779,0.116567,0.166667,0.0,0.0

In [50]:
model = KMeans(n_clusters= 4, random_state=123).fit(df_sub_nor)
df_sub["cluster"] = model.labels_
df_sub.head(3)

<ipython-input-50-1553454263aa>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub["cluster"] = model.labels_

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,cluster
0,6,148,72,35,0,33.6,0.627,50,1,1
1,1,85,66,29,0,26.6,0.351,31,0,0
2,8,183,64,0,0,23.3,0.672,32,1,1

In [51]:
df_sub["cluster"].value_counts()

0    267
2    224
1    140
3    126
Name: cluster, dtype: int64

In [52]:
df_sub.groupby("cluster")["Age"].mean().reset_index()

   cluster        Age
0        0  33.333333
1        1  37.807143
2        2  28.767857
3        3  36.166667

In [53]:
# 문제 3

In [54]:
df_sub = df.loc[df["BMI"] != 0 , ]
df_sub.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [55]:
model = KMeans(n_clusters= 3, random_state=123).fit(df_sub)
df_centers = pd.DataFrame(model.cluster_centers_, columns = df_sub.columns) # 군집 중심점 의 각 칼럼값
df_centers

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,4.026316,158.447368,72.000000,32.263158,441.289474,35.107895,0.569211,34.763158,0.578947
1,3.975258,114.237113,68.647423,15.259794,14.696907,31.440619,0.434579,33.808247,0.301031
2,3.542735,129.376068,71.478632,30.337607,159.401709,34.134615,0.535188,31.948718,0.418803

In [56]:
model.cluster_centers_

array([[4.02631579e+00, 1.58447368e+02, 7.20000000e+01, 3.22631579e+01,
        4.41289474e+02, 3.51078947e+01, 5.69210526e-01, 3.47631579e+01,
        5.78947368e-01],
       [3.97525773e+00, 1.14237113e+02, 6.86474227e+01, 1.52597938e+01,
        1.46969072e+01, 3.14406186e+01, 4.34579381e-01, 3.38082474e+01,
        3.01030928e-01],
       [3.54273504e+00, 1.29376068e+02, 7.14786325e+01, 3.03376068e+01,
        1.59401709e+02, 3.41346154e+01, 5.35188034e-01, 3.19487179e+01,
        4.18803419e-01]])

In [57]:
 df_centers = df_centers.transpose()
df_centers

                                   0           1           2
Pregnancies                 4.026316    3.975258    3.542735
Glucose                   158.447368  114.237113  129.376068
BloodPressure              72.000000   68.647423   71.478632
SkinThickness              32.263158   15.259794   30.337607
Insulin                   441.289474   14.696907  159.401709
BMI                        35.107895   31.440619   34.134615
DiabetesPedigreeFunction    0.569211    0.434579    0.535188
Age                        34.763158   33.808247   31.948718
Outcome                     0.578947    0.301031    0.418803

In [59]:
print(sum((df_centers.iloc[:,0] - df_centers.iloc[:, 1]) ** 2) ** 0.5)
print(sum((df_centers.iloc[:,1] - df_centers.iloc[:, 2]) ** 2) ** 0.5)
print(sum((df_centers.iloc[:,0] - df_centers.iloc[:, 2]) ** 2) ** 0.5)

429.24419310888464
146.33847909815492
283.405999774738